.fa {
  padding:10px;
  font-size:10px;
  width:20px;
  text-align:center;
  text-decoration-color: aqua;
  text-decoration:none;
  margin: 5px 23px 2px 25px;
  border-radius: 0% 20% 20% 20%;
  border-color:black;
}

.fa:hover {
	background-color:hsla(0,91%,56%,1.00); 
    opacity:10;
}

.fa-facebook {
  background: #3B5998;
  color:whitesmoke;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-skype {
	background:#00aff0;
	color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

